<div class="container" style="max-width:450px;magin:0 auto;padding-top:30px">
    <img style="margin:0 auto;width:200px" src="http://www.freeiconspng.com/uploads/buy-cart-ecommernce-shopping-icon-29.png"
    />
    <div class="row">
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Name</span>
                <input type="text" class="form-control" id="name" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Email</span>
                <input type="text" class="form-control" id="email" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Phone Number</span>
                <input type="text" class="form-control" id="phno" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Market</span>
                <input type="text" class="form-control" id="market" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Crop</span>
                <input type="text" class="form-control" id="crop" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Quantity</span>
                <input type="text" class="form-control" id="quantity" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class='input-group date' id="datefrom">
                <span class="input-group-addon" id="basic-addon3">From</span>
                <input type='text'  class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class='input-group date' id="dateto">
                <span class="input-group-addon" id="basic-addon3">To</span>
                <input type='text'  class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-12" style="margin-top:20px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Price</span>
                <input type="text" class="form-control" id="price" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="col-xs-12" style="margin-top:20px">
            <button id="postreq" class="btn btn-primary btn-group btn-group-justified">Post Requirement</button>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="./javascripts/bloudhound.js"></script>
<script type="text/javascript" src="/bower_components/typeahead.js/src/typeahead/typeahead.js"></script>
<script type="text/javascript" src="/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
/>
<script type="text/javascript" src="./javascripts/trader.js"></script>